html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
/* END OF RESET -- END OF RESET -- END OF RESET -- END OF RESET */

html {
  scroll-behavior: smooth;
}

.body {
  background-color: #e9e9e9;
}

.loader-container {
  background-color: #ffffff;
  width: 99%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 

Below is a style for utility

*/
a {
  text-decoration: none;
  color: #e9e9e9;
}

a.button-like {
  transition: background 500ms;
  padding: 0.2em 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.1vw;
  color: hsl(0, 0%, 100%);
  background: hsl(169, 38%, 38%);
  border: 1px solid hsl(169, 38%, 38%);
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

a.button-like:hover,
a.button-like:focus {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid hsla(169, 38%, 38%, 1);
  color: hsla(169, 38%, 38%, 1);
  transition: all 500ms;
}

.button-like.back-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -100%);
}

h1 {
  font-family: "Yeseva One", cursive;
}

p,
h4 {
  font-family: "Montserrat", sans-serif;
}

.loader-text {
  font-size: 1.5vw;
  font-family: "Yeseva One", cursive;
  color: hsl(48, 12%, 25%);
}

.loader-text span {
  font-size: 2.5vw;
}

.separator {
  height: 10vh;
}

.vertical-separator {
  opacity: 0;
  height: 0;
  margin-right: 2vw;
  border-left: 1px solid hsl(49, 11%, 38%);
}

/* 

Below is a style for layout

*/

nav {
  position: fixed;
  right: 0;
  left: 0;

  height: 10vh;
  width: auto;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(49, 11%, 38%);
  z-index: 4;
  transform: translate3d(0, -100%, 0);
  transition: transform 500ms;
}

.navbar.show-navbar {
  transform: translate3d(0, 0, 0);
  transition: all 500ms;
}

nav ul li:nth-child(2) {
  position: relative;
  margin-bottom: 0.8vh;
}

nav ul li:nth-child(2) a:hover > .coming-soon {
  transition: all 400ms;
  background-color: hsl(16, 100%, 50%);
  opacity: 1;
}

nav ul li:nth-child(2) .coming-soon {
  font-size: 1vw;
  text-align: center;
  /* width: 8vw; */
  margin-top: 1vh;
  opacity: 0;
  transform: rotate(-25deg);
  transform-origin: left center;
  top: 0;
  left: 0;
  position: absolute;
}

.logo {
  height: 8vh;
  width: auto;
}

.main-menu {
  font-family: "Yeseva One", cursive;
  font-size: 1.2vw;

  display: flex;
  align-items: center;
}

.main-menu li {
  /* between li margin LR = 1vw + 1vw = 2vw */
  margin: 0 2vw;
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu li a {
  width: 0;
  color: hsl(46, 25%, 83%);
}

.main-menu li a:hover > .navbar-underline {
  opacity: 1;
  width: 100%;
  transition: width 300ms;
}

.navbar-underline {
  transition: width 300ms;
  margin-top: 0.5vh;
  height: 0.3vh;
  opacity: 0;
  width: 0;
  border-radius: 5px;
  border-bottom: 2px solid hsl(46, 25%, 83%);
  transition: opacity 300ms, width 300ms;
  /* background-color: hsl(46, 25%, 83%); */
}

/* 

Vertical Navigation

 */
.vnav {
  position: fixed;
  top: 20vh;
  left: 9vw;
  transform: translate3d(0, 0, 0);

  width: 2vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  transition: transform 500ms;
  /* border: 1px solid black; */
}

.vnav li {
  font-family: "Yeseva One", cursive;

  width: 20vh;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.vnav li a {
  font-size: 1.2vw;
  transition: font-size 400ms, color 400ms;
  color: hsla(169, 38%, 38%, 0.3);
  cursor: pointer;
}

.vnav li a:hover {
  color: hsla(169, 38%, 38%, 1);
  font-size: 1.3vw;
  transition: all 400ms;
}

.push-vnav {
  transform: translate3d(0, 20%, 0) !important;
  transition: all 500ms;
}

/* 

General Page 

*/
svg.diagonal-bg {
  position: absolute;
  left: 0;
  top: 10vh;
}
/* .separator.first {
  background-color: #9e9980;
} */

.page {
  /* border: 1px solid black; */
  position: relative;
  height: 90vh;
}

.text {
  /* hardware acceleration */
  transform: translateZ(0);

  visibility: hidden;
  opacity: 0;
}

svg.bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.svg-bg-path {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.homepage-content h1 {
  font-size: 3vw;
  margin-bottom: 3vh;
}

.homepage-content h4 {
  font-size: 0.8vw;
  margin-bottom: 0.8vh;
  text-decoration: underline;
}

.homepage-content p {
  font-size: 1.2vw;
  line-height: 150%;
  margin-bottom: 4vh;
}
.homepage-content {
  width: 65vw;
  height: 55vh;
  color: hsl(48, 12%, 25%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*

Homepage 1 

*/
.alief-potrait {
  /* Hardware Acceleration */
  transform: translate3d(0, 0, 0);

  width: 25vw;
  height: auto;
  flex: 0 1 auto;
  visibility: hidden;
  opacity: 0;
  background: transparent;
  animation: floating 5s ease-in-out infinite;
}

/* float animation */
@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 8%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* 

Homepage 2

*/
.logo-filkom {
  transform: translateZ(0);
  width: 23vw;
  height: auto;
  flex: 0 1 auto;
  visibility: hidden;
  opacity: 0;
}

/* 

Homepage 3 

*/
.skill-stack {
  transform: translateZ(0);
  visibility: hidden;
  opacity: 0;
  width: 25vw;
}

.contacts-link svg {
  width: 6vw;
  height: auto;
}

.contacts-list {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contacts-link a {
  transition: transform 300ms;
  transform: translate3d(0, 0, 0);
  font-family: "Yeseva One", cursive;
  font-size: 1.5vw;
  color: hsl(48, 12%, 25%);
  margin-left: 2vw;
}

.contacts-link a:hover > .cp-underline,
.contacts-link a:hover > .twt-underline,
.contacts-link a:hover > .github-underline {
  width: 100%;
  transition: all 300ms;
}

.contacts-link a:focus > .cp-underline,
.contacts-link a:focus > .twt-underline,
.contacts-link a:focus > .github-underline {
  width: 100%;
  transition: all 300ms;
}

.contacts-link a:hover {
  transform: translate3d(3%, 0, 0);
  transition: all 500ms;
}

.contacts-link a:focus {
  transform: translate3d(3%, 0, 0);
  transition: all 500ms;
}

/* 

Project Page

*/
.project-text {
  /* border: 1px solid black; */
  width: 35vw;
  flex-shrink: 0;
}

.project-showcase {
  transform: translateZ(0);
  /* border: 1px solid black; */
  width: 25vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.project-showcase h1 {
  font-size: 1.5vw;
}

.project-showcase p {
  font-size: 1vw;
}

.project-showcase button {
  max-width: 10vw;
  margin-top: 3vh;
}

.project-showcase img {
  width: 25vw;
  height: auto;
  border-radius: 10px;
}

.project-logo {
  margin-bottom: 3vh;
}

.slider {
  order: 2;
  transform: translateZ(0);
  height: 60%;
  width: 30vw;
}

/* 

Contacts Page 

*/
.cp-underline {
  transition: width 300ms;
  margin-top: 0.6vh;
  height: 0.5vh;
  width: 0;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  border-radius: 5px;
}

.twt-underline {
  transition: width 300ms;
  margin-top: 0.6vh;
  height: 0.5vh;
  width: 0;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    #66757f,
    #00acee,
    #36d8ff,
    #6fbff5,
    #80ccff
  );
}

.github-underline {
  transition: width 300ms;
  margin-top: 0.7vh;
  height: 0.5vh;
  width: 0;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    #4078c0,
    #6e5494,
    #bd2c00,
    #c9510c,
    #6cc644,
    #d9e70f
  );
}

/* Footer */
footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9e9e9;
  text-align: center;
  background-color: hsl(48, 18%, 22%);
  height: 10vh;
}

footer h5 {
  font-family: "Yeseva One", cursive;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}
footer p {
  font-size: 1vw;
}

footer a {
  transition: background-size 500ms;
  background-size: 0;
  background-image: #e9e9e9;
}

footer a:hover {
  transition: background-size 500ms;
  background-size: 100%;
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a.do-referral {
  position: absolute;
  display: flex;
  align-items: center;
  right: 2vw;
  max-height: 10vh;
  /* border: 1px solid black; */
}

.do-referral img:hover {
  transform: translate3d(-10%, 0, 0);
  transition: all 400ms;

  filter: drop-shadow(-3px 0px 8px #9fc7ff);
}

.do-referral img {
  border-radius: 5px;
  height: 6vh;
  transition: transform 400ms, filter 400ms;
  transform: translate3d(0, 0, 0);
  filter: none;
}

/*

Transition 

*/
.loader-appear {
  visibility: hidden;
  opacity: 0;
}

.loader-appear-active {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.loader-appear-done,
.loader-exit {
  visibility: visible;
  opacity: 1;
}

.loader-exit-active {
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}

.loader-exit-done {
  visibility: hidden;
  opacity: 0;
}

.animate-left-enter,
.animate-left-appear,
.animate-left-exit-done {
  transform: translate3d(-50%, 0, 0);
  visibility: hidden;
  opacity: 0;
}

.animate-right-enter,
.animate-right-appear,
.animate-right-exit-done {
  transform: translate3d(50%, 0, 0);
  visibility: hidden;
  opacity: 0;
}

.animate-left-enter-active,
.animate-left-appear-active,
.animate-right-appear-active,
.animate-right-enter-active {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;

  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
}

.animate-left-enter-done,
.animate-right-enter-done,
.animate-right-exit,
.animate-left-exit {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  opacity: 1;
}

.animate-right-exit-active {
  transform: translate3d(50%, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
}

.animate-left-exit-active {
  transform: translate3d(-50%, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
}

.animate-border-enter {
  transform: translateZ(0);
  opacity: 0;
  height: 0;
}

.animate-border-appear-active {
  transform: translateZ(0);
  opacity: 1;
  height: 40%;

  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
}

.animate-border-enter-done {
  transform: translateZ(0);
  opacity: 1;
  height: 40%;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

/*

!Important ALERT!!!

!important here is used intentionally to cascade the original color and font-size
because this class is used with javascript along with classList.add() method
(which cannot be cascaded if neither using !important nor remove and add new class)

*/
.vnav-active {
  color: hsla(169, 38%, 38%, 1) !important;
  font-size: 1.3vw !important;
  transition: all 1s;
}

/*

END OF DESKTOP

*/

@media (max-device-width: 480px) {
  /* 
  
  Utility
  
  */

  .loader-text {
    font-size: 4vw;
  }

  .loader-text span {
    font-size: 5vw;
  }

  a.button-like {
    font-size: 4vw;
  }

  .vertical-separator {
    order: 1;
    opacity: 0;
    width: 0;
    margin-bottom: 1.5vh;
    border-top: 1px solid hsl(49, 11%, 38%);
    border-left: 0;
  }

  .separator.with-bg {
    background-image: url("https://ik.imagekit.io/aliefseventri/Projects/Web_Portfolio/logo_Z5ESPb-_q.svg?updatedAt=1626885173472&ik-s=52f65f0ed892a2a66c855c6a5492a2723a6d5ffb");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: center;
  }

  /* 
  
  Layout Related (Universal)
  
  */
  nav {
    z-index: 20;
    height: 13vh;
    flex-direction: column;
    justify-content: center;
  }

  svg.diagonal-bg {
    top: 12.5vh;
    height: 5vh;
  }

  .main-menu {
    font-size: 4vw;
  }

  .vnav {
    left: 4vw;
  }

  .vnav li a {
    font-size: 4vw;
  }

  .vnav li a:hover {
    color: hsla(169, 38%, 38%, 1);
    font-size: 4.2vw;
    transition: all 400ms;
  }

  /* 
  
  !Important ALERT!!!
  look for .vnav-active for desktop screen (above)

  */
  .vnav-active {
    font-size: 4.3vw !important;
  }

  svg.bg {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
  }

  .homepage-content h1 {
    font-size: 7vw;
    margin-bottom: 1.5vh;
  }

  .homepage-content h4 {
    font-size: 2.5vw;
    margin-bottom: 0.4vh;
  }

  .homepage-content p {
    font-size: 3vw;
    margin-bottom: 2vh;
  }

  .homepage-content {
    height: 100vh;
    width: 90vw;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;

    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  .homepage-content .alief-potrait {
    width: 60vw;
    margin-bottom: 2vh;
  }

  .homepage-content .logo-filkom {
    order: 1;
    width: 60vw;
    margin-bottom: 3vh;
  }

  .skill-stack {
    width: 50vw;
    margin-bottom: 3vh;
  }

  /* 
  
  Project Page

  */
  .project-showcase {
    /* border: 1px solid black; */
    width: 65vw;
    margin-left: 0;
    align-items: center;
  }

  .project-showcase img {
    width: 55vw;
    height: auto;
  }

  .project-text {
    order: 2;
    width: 70vw;
  }

  .project-text.reorder {
    order: 0;
  }

  .slider {
    width: 70vw;
    height: auto;
    order: 2;
    margin-bottom: 1.5vh;
  }

  /* 

  Contact Page

  */
  .contacts-list {
    margin-top: 2vh;
    justify-content: center;
    height: auto;
    order: -1;
  }

  .contacts-link {
    margin-bottom: 2vh;
  }

  .contacts-link a {
    font-size: 4vw;
  }

  .contacts-link svg {
    width: 10vw;
    height: auto;
  }

  /* 
  
  Footer

  */
  footer {
    height: 15vh;
    flex-direction: column;
    justify-content: space-around;
  }

  footer h5 {
    font-size: 4vw;
  }
  footer p {
    font-size: 3vw;
  }

  /*
  
  default inline style from digital ocean referral makes this element absolute with !important,
  so i had to overcome that with below
  
  */
  .do-referral {
    position: static !important;
  }

  .do-referral img:hover {
    transform: translate3d(0, 0, 0);
  }

  /* 
  
  styles for  react CSSTransition component
  
  */
  .animate-border-appear-active {
    transform: translateZ(0);
    opacity: 1;
    width: 40%;
    height: 1vw;

    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
  }

  .animate-border-enter-done {
    transform: translateZ(0);
    opacity: 1;
    width: 40%;
    height: 1vw;
  }

  /* Bug fix */

  .animate-left-enter,
  .animate-left-appear,
  .animate-left-exit-done {
    transform: translate3d(0, -40%, 0);
    visibility: hidden;
    opacity: 0;
  }

  .animate-right-enter,
  .animate-right-appear,
  .animate-right-exit-done {
    transform: translate3d(0, -40%, 0);
    visibility: hidden;
    opacity: 0;
  }

  .animate-left-enter-active,
  .animate-left-appear-active,
  .animate-right-appear-active,
  .animate-right-enter-active {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;

    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
  }

  .animate-left-enter-done,
  .animate-right-enter-done,
  .animate-right-exit,
  .animate-left-exit {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }

  .animate-right-exit-active {
    transform: translate3d(0, -20%, 0);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
  }

  .animate-left-exit-active {
    transform: translate3d(0, -20%, 0);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
  }
}
