html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
/* END OF RESET -- END OF RESET -- END OF RESET -- END OF RESET */

html {
  scroll-behavior: smooth;
}

.body {
  background-color: hsl(0, 0%, 91%);
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Yeseva One", cursive;
}

p,
h4 {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: fixed;
  right: 0;
  left: 0;

  height: 10vh;
  width: auto;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(49, 11%, 38%);
  z-index: 4;

  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);*/
}

.vnav {
  position: fixed;
  top: 30vh;
  left: 9vw;

  width: 2vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  /* border: 1px solid black; */
}

.vnav li {
  font-family: "Yeseva One", cursive;
  font-size: 1.2vw;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.vnav li a {
  color: hsla(169, 38%, 38%, 0.5);
}

.vnav li a:hover,
.vnav li a:active {
  color: hsla(169, 38%, 38%, 1);
}

.logo {
  height: 90%;
}

.separator {
  height: 10vh;
}

.main-menu {
  font-family: "Yeseva One", cursive;
  font-size: 1.2vw;
  color: hsl(46, 25%, 83%);

  /* border: 1px solid hsl(46, 25%, 83%); */
  display: flex;
  align-items: center;
}

.main-menu li {
  /* between li margin LR = 1vw + 1vw = 2vw */
  margin: 0 2vw;
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li:last-child {
  margin-right: 0;
}

.homepage-1 {
  height: 90vh;
  position: relative;
  top: 10vh;
}

.homepage-1 svg,
.homepage-2 svg,
.homepage-3 svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.homepage-content h1 {
  font-size: 3vw;
  margin-bottom: 3vh;
}

.homepage-content h4 {
  font-size: 0.8vw;
  margin-bottom: 0.8vh;
  text-decoration: underline;
}

.homepage-content p {
  font-size: 1.2vw;
  line-height: 150%;
  margin-bottom: 3vh;
}
.homepage-content {
  width: 65vw;
  color: hsl(48, 12%, 25%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-content .alief-potrait,
.homepage-content .logo-filkom {
  width: 23vw;
  height: auto;
  flex: 0 1 auto;
}

.homepage-content .alief-potrait {
  width: 25vw;
}

.homepage-content button {
  padding: 0.2em 1em;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  border: none;
  background: hsl(169, 38%, 38%);
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.homepage-2 {
  position: relative;
  top: 10vh;
  height: 90vh;
}

.homepage-3 {
  position: relative;
  top: 10vh;
  height: 90vh;
}

.homepage-2 .homepage-content,
.homepage-3 .homepage-content {
  /* cascade from line 215 */
  position: relative;
}

.homepage-3 .skill-stack {
  /* cascade from line 196 */
  position: static;
  width: 25vw;
}
