html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
/* END OF RESET -- END OF RESET -- END OF RESET -- END OF RESET */

.body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(0, 0%, 91%);
}

.navbar {
  height: 10vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(49, 11%, 38%);
}

.logo {
  height: 90%;
}

.main-menu {
  font-family: "Yeseva One", cursive;
  font-size: 1.2vw;
  color: hsl(46, 25%, 83%);

  /* border: 1px solid hsl(46, 25%, 83%); */
  display: flex;
  align-items: center;
}

.main-menu li {
  /* between li margin LR = 1vw + 1vw = 2vw */
  margin: 0 2vw;
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li:last-child {
  margin-right: 0;
}

.homepage-1 {
  height: 90vh;
  position: relative;
  /* border: 1px solid black; */
}

.homepage-1 svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.homepage-1 h1 {
  font-size: 3vw;
  font-family: "Yeseva One", cursive;
  margin-bottom: 3vh;
}

.homepage-1 h4,
p {
  font-family: "Montserrat", sans-serif;
}

.homepage-1 h4 {
  margin-bottom: 0.8vh;
  font-size: 0.8vw;
  text-decoration: underline;
}

.homepage-1 p {
  margin-bottom: 3vh;
  line-height: 150%;
}
.page1-content {
  width: 55vw;
  /* border: 1px solid black; */
  color: hsl(48, 12%, 25%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page1-content .alief-potrait {
  width: 23vw;
  height: auto;
  flex: 0 1 auto;
}

.page1-content button {
  padding: 0.2em 1em;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  border: none;
  background: #3c8678;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
